apiVersion: v1
kind: ConfigMap
metadata:
  name: istio
data:
  mesh: |-
    discoveryAddress: istio-pilot.{{.IstioNamespace}}.svc.cluster.local:8080
    discoveryRefreshDelay: 60s
    connectTimeout: 30s
{{if .Mixer}}
    mixerAddress: istio-mixer.{{.IstioNamespace}}.svc.cluster.local:9091
{{end}}
    authPolicy: {{ .Auth }}
    authCertsPath: /etc/certs
{{if .Zipkin}}
    zipkinAddress: zipkin.{{.IstioNamespace}}.svc.cluster.local:9411
{{end}}
