# pilot service for discovery

{{if .DlvPort}}
kind: PersistentVolume
apiVersion: v1
metadata:
  name: dlv
  labels:
    type: local
spec:
  storageClassName: manual
  persistentVolumeReclaimPolicy: Delete
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/delve"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: dlv-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
---
{{end}}

apiVersion: v1
kind: Service
metadata:
  name: istio-pilot
  labels:
    infra: pilot
spec:
{{if .DlvPort}}
  type: LoadBalancer
{{end}}
  ports:
  - port: 8080
    name: http-discovery
{{if .DlvPort}}
  - port: {{.DlvPort}}
    name: tcp-dlv
{{end}}
  selector:
    infra: pilot
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-pilot-service-account
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-pilot
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: pilot
    spec:
      serviceAccountName: istio-pilot-service-account
      containers:
      - name: discovery
        image: {{.Hub}}/pilot:{{.Tag}}
        imagePullPolicy: Always
        args: ["discovery", "-v", "{{.Verbosity}}"]
        ports:
        - containerPort: 8080
{{if .DlvPort}}
        - containerPort: {{.DlvPort}}
        volumeMounts:
          - mountPath: "/data/delve"
            name: dlv
{{end}}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        volumeMounts:
        - name: config-volume
          mountPath: /etc/istio/config
{{if .DlvPort}}
        - mountPath: "/data/delve"
          name: dlv
{{end}}
      volumes:
      - name: config-volume
        configMap:
          name: istio
{{if .DlvPort}}
      - name: dlv
        persistentVolumeClaim:
          claimName: dlv-claim
{{end}}
---
