type: route-rule
name: websocket-route
namespace: {{.Namespace}}
spec:
  destination: {{.Destination}}.{{.Namespace}}.svc.cluster.local
  name: websocket-route
  precedence: 4
  match:
    httpHeaders:
      uri:
        prefix: "/websocket"
  route:
    - tags:
         version: v1
  websocket_upgrade: true
