type: route-rule
name: fault-route
namespace: {{.Namespace}}
spec:
  destination:
    name: {{.Destination}}
  precedence: 3
  match:
    source:
      name: {{.Source}}
      labels:
        version: v1
    request:
      headers:
        version:
          exact: v2
  route:
    - labels:
         version: v2
  httpFault:
    delay:
      percent: 100
      fixedDelay: 5s
    abort:
      percent: 100
      httpStatus: 503
