type: route-rule
name: content-route
namespace: {{.Namespace}}
spec:
  destination:
    name: {{.Destination}}
  precedence: 4
  match:
    source:
      name: {{.Source}}
      labels:
        version: v1
    request:
      headers:
        foo:
          regex: "b.*"
  route:
    - labels:
         version: v2
