type: route-rule
name: redirect-route
namespace: {{.Namespace}}
spec:
  destination:
    name: {{.Destination}}
  precedence: 5
  match:
    request:
      headers:
        testredirect:
          exact: enabled
  redirect:
    uri: {{.Path}}
    authority: {{.HostRedirect}}
